ul {
  position: absolute;
  top: 45px;
  left: -30px;
  list-style: none;
  width: 200px;
  flex-wrap: wrap;
  display: none;
}

ul.show {
  display: flex;
}

li {
  z-index: 999;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  border: 1.5px solid #0189ff;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  padding: 2px;
  margin: 0 0 -2px -2px;
}
